body{
	margin: 0;
	min-width: 375px;
}

h1{
	margin: 0;
}

.wrap{
	margin: 0;
}

.mobile-menu{
display: none;
}

.mobile-menu-close{
display: none;
}

.header-mobile-menu{
display: none;
}

.header__burger{
display: none;
}

.cotent__subtitle-mobile{
	display: none;
}

.header{
	display: flex;
	justify-content: center;
}

.header__nav{
	display: flex;
	justify-content: center;


}

.header__list{
	display: flex;
	justify-content: space-between;
	list-style: none;
	position: relative;
	left: 50.3vw;
	padding-top: 14px;

}

.header__item{
	color: #2E1449;
	font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
   margin-right: 25px;
	
}


.header__link{
	text-decoration: none;	
}


.header__link:last-child{
	margin-right: 0;
}


.header__logo{
    margin-right: 90px;
    padding-top: 5px;
}

.header__icon{
	width: 32px;
}

.footer {
	width: 100%;
	height: 22px;
	background-color: #7400E8;
	position: fixed;
	bottom: 0;
	left: 0;
}

.content {
	display: flex;
	justify-content: center;
}

.content__wrap{
	margin-right: 18.9vw;
	padding-top: 21.3vw;
}

.content__title{
	color: #2E1449;
	font-family: Roboto;
	font-style: normal;
   font-weight: bold;
   font-size: 60px;
   width: 527px;
   height: 211px;
}
.content__subtitle{
	color: #2E1449;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	width: 577px
	height:74px;
}

.sidebar__form{
	position: relative;
	z-index: 3;
	padding-left: 70vw;

}

.img-background__vetor{
	background-image: url('../img/Vector.png');
	width: 1320px;
	height: 925px;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
	right: 0;
	bottom: 0;



}

.img-background__vetor1{
	background-image: url('../img/Vector1.png');
	width: 1247px;
	height: 908px;
	background-repeat: no-repeat;
	position: relative;
	z-index: 2;
	right: 0;
	bottom: 0;
}

.sidebar__title{
	color: #2E1449;
	font-family: PT Sans Caption;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
}