.wrap{
	max-width: 1920px;
	min-width: 375px;
	height: 100vh;
	margin: 0 auto;
}

.header{
	height: 200px;
	margin: 0 auto;
	font-family: Roboto;
	
}

.header__logo{
	position: relative;
	top: 18px;
	left: 86px;
	width: 110px;
	

}

.header__nav{
	position: relative;
	left: 1293px;
	top: -7px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__list{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 162px;
	text-decoration: none;
}

.header__list li{
	list-style: none;
}

.header__item{
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
}

.header__link{
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 21px;
	color: #2E1449;
	text-decoration: none; 

}

.header__link:hover{
	text-decoration: underline;
	color: #000080;
}

.content{
	position: relative;
	left: 260px;
	top:270px;
	font-family: Roboto;

}

.content__title{
	height: 10px;
	width: 550px;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	display: flex;
	align-items: center;
	line-height: 74px;
	color: #2E1449;
}

.content__wrap{
	position: absolute;
	top: 138px;
   left: 10px;
}

.content__text{
	
	width: 613px;
	height: 69px;
	 
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	display: flex;
	align-items: center;
	color: #2E1449;
}

.sidebar{
	position: relative;
	width: 300px;
	height: 168px;
	left: 1133px;
	top: 175px;
}

.sidebar__title{
	font-family: PT Sans Caption;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 31px;
	letter-spacing: 0em;
	text-align: left;
	color: #2E1449;
}

.sidebar__registration{
	width: 392px;
	height: 50px;
	background: #FFFFFF;
	border-radius: 5px;
}

.sidebar__button{
	width: 399px;
	height: 53.2px;
	margin-top: 20px;
	background: #7400E8;
	border-radius: 5px;
	
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	line-height: 25px;
	text-align: center;

	color: #FFFFFF;
}
.sidebar__txt{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;

	color: #000000;
	opacity: 0.5;
}

.sidebar__vector1{
	position: relative;
	right: 357px;
	bottom: 445px;
}

.sidebar__vector{
	position: relative;
	bottom: 1143px;
	right: 219px;

}

.footer{
	position: relative;
	margin-top: 599px;
	left: 3px;
	}